name: codebook
services:                     # List of containers (services)
  backend:
    build: ./backend
    ports:
    - "8008:8008"
    env_file:
    - ./backend/.env

  frontend:
    build: ./frontend
    ports:
    - "3000:80"
    depends_on:
    - backend
  